.resource-loading,
.resource-loading body {
  overflow: hidden;
}

.resource-loader {
  position: fixed;
  inset: 0;
  z-index: 10000;
  display: grid;
  place-items: center;
  min-height: 100dvh;
  background: rgba(0, 0, 0, 0.98);
  color: #e1e0cc;
  opacity: 1;
  transition: opacity 0.34s ease, visibility 0.34s ease;
}

.resource-loader--leaving {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.resource-loader__content {
  display: grid;
  place-items: center;
  gap: 0.85rem;
}

.resource-loader__label {
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.16em;
  color: #dedbc8;
}

.resource-loader .wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.resource-loader .wheel,
.resource-loader .hamster,
.resource-loader .hamster div,
.resource-loader .spoke {
  position: absolute;
}

.resource-loader .wheel,
.resource-loader .spoke {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.resource-loader .wheel {
  z-index: 2;
  background: radial-gradient(100% 100% at center, hsla(0, 0%, 60%, 0) 47.8%, hsl(0, 0%, 60%) 48%);
}

.resource-loader .hamster {
  top: 50%;
  left: calc(50% - 3.5em);
  z-index: 1;
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em, 1.85em);
  transform-origin: 50% 0;
  animation: resource-hamster var(--dur) ease-in-out infinite;
}

.resource-loader .hamster__head {
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  background: hsl(30, 90%, 55%);
  box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset, 0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
  transform-origin: 100% 50%;
  animation: resource-hamster-head var(--dur) ease-in-out infinite;
}

.resource-loader .hamster__ear {
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  background: hsl(0, 90%, 85%);
  box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
  transform-origin: 50% 75%;
  animation: resource-hamster-ear var(--dur) ease-in-out infinite;
}

.resource-loader .hamster__eye {
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: hsl(0, 0%, 0%);
  animation: resource-hamster-eye var(--dur) linear infinite;
}

.resource-loader .hamster__nose {
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  background: hsl(0, 90%, 75%);
}

.resource-loader .hamster__body {
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  background: hsl(30, 90%, 90%);
  box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset, 0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
  animation: resource-hamster-body var(--dur) ease-in-out infinite;
}

.resource-loader .hamster__limb--fr,
.resource-loader .hamster__limb--fl {
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
  transform-origin: 50% 0;
}

.resource-loader .hamster__limb--fr {
  background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
  animation: resource-hamster-fr var(--dur) linear infinite;
}

.resource-loader .hamster__limb--fl {
  background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
  transform: rotate(15deg);
  animation: resource-hamster-fl var(--dur) linear infinite;
}

.resource-loader .hamster__limb--br,
.resource-loader .hamster__limb--bl {
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 70% 90%, 70% 100%, 30% 100%, 40% 90%, 0 30%);
  transform-origin: 50% 30%;
}

.resource-loader .hamster__limb--br {
  background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
  animation: resource-hamster-br var(--dur) linear infinite;
}

.resource-loader .hamster__limb--bl {
  background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
  transform: rotate(-25deg);
  animation: resource-hamster-bl var(--dur) linear infinite;
}

.resource-loader .hamster__tail {
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  border-radius: 0.25em 50% 50% 0.25em;
  background: hsl(0, 90%, 85%);
  box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
  animation: resource-hamster-tail var(--dur) linear infinite;
}

.resource-loader .spoke {
  background: radial-gradient(100% 100% at center, hsl(0, 0%, 60%) 4.8%, hsla(0, 0%, 60%, 0) 5%), linear-gradient(hsla(0, 0%, 55%, 0) 46.9%, hsl(0, 0%, 65%) 47% 52.9%, hsla(0, 0%, 65%, 0) 53%) 50% 50% / 99% 99% no-repeat;
  animation: resource-spoke var(--dur) linear infinite;
}

@keyframes resource-hamster {
  0%, 100% { transform: rotate(4deg) translate(-0.8em, 1.85em); }
  50% { transform: rotate(0) translate(-0.8em, 1.85em); }
}

@keyframes resource-hamster-head {
  0%, 25%, 50%, 75%, 100% { transform: rotate(0); }
  12.5%, 37.5%, 62.5%, 87.5% { transform: rotate(8deg); }
}

@keyframes resource-hamster-eye {
  0%, 90%, 100% { transform: scaleY(1); }
  95% { transform: scaleY(0); }
}

@keyframes resource-hamster-ear {
  0%, 25%, 50%, 75%, 100% { transform: rotate(0); }
  12.5%, 37.5%, 62.5%, 87.5% { transform: rotate(12deg); }
}

@keyframes resource-hamster-body {
  0%, 25%, 50%, 75%, 100% { transform: rotate(0); }
  12.5%, 37.5%, 62.5%, 87.5% { transform: rotate(-2deg); }
}

@keyframes resource-hamster-fr {
  0%, 25%, 50%, 75%, 100% { transform: rotate(50deg) translateZ(-1px); }
  12.5%, 37.5%, 62.5%, 87.5% { transform: rotate(-30deg) translateZ(-1px); }
}

@keyframes resource-hamster-fl {
  0%, 25%, 50%, 75%, 100% { transform: rotate(-30deg); }
  12.5%, 37.5%, 62.5%, 87.5% { transform: rotate(50deg); }
}

@keyframes resource-hamster-br {
  0%, 25%, 50%, 75%, 100% { transform: rotate(-60deg) translateZ(-1px); }
  12.5%, 37.5%, 62.5%, 87.5% { transform: rotate(20deg) translateZ(-1px); }
}

@keyframes resource-hamster-bl {
  0%, 25%, 50%, 75%, 100% { transform: rotate(20deg); }
  12.5%, 37.5%, 62.5%, 87.5% { transform: rotate(-60deg); }
}

@keyframes resource-hamster-tail {
  0%, 25%, 50%, 75%, 100% { transform: rotate(30deg) translateZ(-1px); }
  12.5%, 37.5%, 62.5%, 87.5% { transform: rotate(10deg) translateZ(-1px); }
}

@keyframes resource-spoke {
  from { transform: rotate(0); }
  to { transform: rotate(-1turn); }
}

@media (max-width: 480px) {
  .resource-loader .wheel-and-hamster {
    font-size: 12px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .resource-loader,
  .resource-loader .hamster,
  .resource-loader .hamster div,
  .resource-loader .spoke {
    animation: none !important;
    transition: none !important;
  }
}
